body {
  font-family: Arial;
  padding: 20px;
}

.course {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

#details-box {
  border: 2px solid blue;
  padding: 15px;
  margin-top: 20px;
  background: #eef;
}

#resume-checker {
  margin-top: 30px;
  padding: 15px;
  border: 2px solid green;
  background-color: #e7ffe7;
}
#resume-checker textarea,
#resume-checker input {
  width: 300px;
  padding: 8px;
}
